@import 'variables';

* {
    box-sizing: content-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background-light;
}

h1, h2 {
    font-weight: bold;
    color: $first-color;
}
